@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA !important;
}

.app {
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 88%;
  height: 100%;
  margin: 0 auto;
}

.appContainer {
  width: 90%;
  margin: 0 auto !important;
}

.title {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.25rem;
  color: #111517;
}

.toggleText {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  color: #111517;
}

.searchGroup {
  width: 100%;
  margin: 0 auto;
}

.searchForm {
  width: 100%;
  height: 3rem;
  margin: 0 auto;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.searchIcon {
  margin-left: 1.5rem;
}

input[type="text"] {
  outline: none;
  border: none;
  width: 80%;
}

input[type="text"]::placeholder {
  color: #C4C4C4;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem; 
}

select {
  width: 55%;
  height: 3rem;
  margin-top: 2.5rem !important;
  margin-bottom: 0.8rem !important;
  padding: 0 1.2rem 0 1.2rem !important;
  border: none;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  color: #111517;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem; 
}

img {
  width: 100%;
  height: 10rem;
}

.countryList {
  width: 100%;
  display: flex !important;
  flex-direction: column !important;
  gap: 3rem !important;
  justify-content: center !important;
  align-items: center !important;
  margin-bottom: 3rem;
}

.countryCard {
  width: 16.5rem !important;
  height: 21rem !important;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
}

.countryText {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem !important;

}

.countryName {
  color: #111517;
  font-family: Nunito Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.625rem;
}

.countryMeta {
  color: #111517;
  font-family: Nunito Sans;
  font-size: 0.875rem;
  font-style: normal;
  line-height: 1rem;
}

@media (min-width: 768px) {
  .appContainer {
    width: 89%;
    margin: 0 auto;
  }

  .countryList {
    width: 100%;
    display: grid !important;
    grid-template-columns: 16.5rem 16.5rem 16.5rem 16.5rem;
    grid-gap: 3rem !important;
  }

  .searchGroup {
    width: 100%;
    display: flex !important;
    flex-direction: row;
    margin: 0 auto;
    align-items: center !important;
    gap: 32.2rem;
  }

  .searchForm {
    width: 30rem;
  }

  select {
    width: 12.5rem;
  }
}